<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site_title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/styles.css'|url }}" media="screen">
</head>
<body>
<div class="layout">

    <div class="layout__header-bar">
        <div class="layout__header-bar-content">
            <a href="{{ ''|url }}" class="layout__header-bar-logo">{{ title }}</a>
        </div>
    </div>

    <div class="layout__main">

        <div class="layout__menu">
            <ul class="menu-items">
                {% for menuItem in menuItems %}

                    {% if menuItem.isSectionTitle %}
                        <li class="menu-items__item menu-items__section-title">
                            {{ menuItem.title }}
                        </li>
                    {% endif %}

                    {% if menuItem.isPage %}
                        <li class="menu-items__item menu-items__page">
                            <a href="{{ menuItem.url|url }}" class="menu-items__link {% if menuItem.isActive %}menu-items__link--active{% endif %}">
                                {{ menuItem.title }}
                            </a>

                            {% if menuItem.isActive and menuItem.headings %}
                                <ul class="headings-submenu">
                                    {% for heading in menuItem.headings %}
                                        <li class="headings-submenu__item">
                                            <a href="{{ heading.anchor|url }}" class="headings-submenu__link">
                                                {{ heading.heading }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}

                {% endfor %}
            </ul>
        </div>


        <div class="layout__content">
            <h1>{{ page.title }}</h1>
            {{ page.content|safe }}

            <div class="pagination">
                {% if pagination.previousPage %}
                    <div class="pagination__item pagination__item--previous">
                        <div class="pagination__item-label">Previous</div>
                        <a href={{ pagination.previousPage.url|url }}>{{pagination.previousPage.title}}</a>
                    </div>
                {% endif %}
                {% if pagination.nextPage %}
                    <div class="pagination__item pagination__item--next">
                        <div class="pagination__item-label">Next</div>
                        <a href={{ pagination.nextPage.url|url }}>{{pagination.nextPage.title}}</a>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>


</div>
</body>
</html>
